@model AwesomeTexter.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Contacts", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>New Contact</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger"})
            </div>
        </div>
	    <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <input type="submit" value="Create" class="btn btn-lg btn-primary" />
            </div>
        </div>
    </div>
}

<a href="@Url.Action("Index")" class="btn btn-default">
    <i class="fa fa-2x fa-arrow-circle-left" aria-hidden="true"></i>
    <span>Back to list</span>
</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}