@model AwesomeTexter.Models.Contact

    <h3>@Model.FirstName</h3>
	<p><em>@Html.DisplayNameFor(m => m.FirstName) : </em>@Html.DisplayFor(m => m.FirstName) </p>   
    <p><em>@Html.DisplayNameFor(m => m.LastName) : </em>@Html.DisplayFor(m => m.LastName) </p> 
    <p><em>@Html.DisplayNameFor(m => m.PhoneNumber) : </em>@Html.DisplayFor(m => m.PhoneNumber) </p>  
    @Html.ActionLink("Back", "Index")